@import url('https://fonts.googleapis.com/css?family=Dosis|Schoolbell');
@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: whitesmoke;
}

html,
body,
h1,
h2,
h3 {
  font-family:'Schoolbell', 'Segoe UI', cursive;
}

p {
  font-family: 'Dosis', sans-serif;
}

h2 .text-center {
  font-size: 3em;
  color: red;
}
.card-section p {
  color:black;
}
.divisor-branco {
  height: 0px; /*
  background-color: aliceblue; */
  position: relative;
  bottom: 1.4em;
  margin-bottom: 0.1em;
  width: 100%;
}

.divisor-branco::after {
  content: "";
  display: block;
  position: relative;
  margin: 0 auto;
  height: 0.1rem;
 
  background-color: aliceblue;
  width: 26%;
  bottom: 0.4rem;

  margin-top: 30px;
}

.divisor-normal {
  /* height: 1px;
  background-color: black; */
  position: relative;
  bottom: 1.4em;
  margin-bottom: 3rem;
  width: 100%;
}

.divisor-normal::after {
  content: "";
  display: block;
  position: relative;
  margin: 0 auto;
  height: 0.1rem;
  /*    background-color: #b598ab;*/
  background-color:#654ea3;
  width: 26%;
  bottom: 0.4rem;
  /* left: 0; */
  margin-top: 30px;
}

.line:after {
  content: "";
  display: block;
  margin-top: 0.2em;
  height: 3px;
  /*    background-color: rgba(51, 51, 51, 0.14);*/
  background-color: aliceblue;
  width: 5em;
}

/* Menu Styles */

#mobile-menu {
  visibility: hidden;
  position: absolute;
  background: whitesmoke;
  width: auto;
  max-width: 160px;
  padding: 20px;
  padding-right: 10px;
  right: 0;
  top: 50px;
  text-align: left;
  opacity: 0;
  transform: translate(-20px, 0px);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .4);
  z-index: 999;
  /* font-size: 1.5em; */
}

#mobile-menu.active {
  visibility: visible;
  opacity: 1;
  transform: translate(0px, 0px);
  transition: .3s ease;
}

#mobile-menu li {
  display: block;
  padding: 0px;
  margin: 0px;
  border-bottom: 2px solid;
}



#mobile-menu li a {
  display: block;
  float: none;
  padding: 10px;
  margin: 0px;
  border: none;
  min-width: 130px;
}

#mobile-menu li a:hover {
  background: whitesmoke;
  color: black;
}

/* Menu Icon */

#mobile-icon {
  position: relative;
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  padding: 5px 0;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 12%;
  margin-right: 1em;
}

#mobile-icon::before,
#mobile-icon::after {
  content: '';
  display: block;
  height: 4px;
  transition: .3s;
}

#mobile-icon::before {
  background: whitesmoke;
  margin-bottom: 8px;
}

#mobile-icon::after {
  box-shadow: 0 4px 0 0 white, 0 -4px 0 0 white;
}

#mobile-icon.active::before,
#mobile-icon.active::after {
  width: 80%;
  background: whitesmoke;
  box-shadow: none;
}

#mobile-icon.active::before {
  transform: rotate(45deg) translate(7px, 4px);
}

#mobile-icon.active::after {
  transform: rotate(-225deg) translate(-4px, 1px);
}




@media screen and (min-width:10em) {
  #banner {
    background-image: url(../img/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
  }
}

@media screen and (min-width:50em) {
  #banner {
    background-image: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
  }
}



.bg-color {
  background-color: rgba(0, 0, 0, 0.246);
  /* margin-left: 5%;
  margin-right: 5%; */
  padding: 5vh;
}

.bg-color h3,
p {
  color: white;
}

#bg-cia {
  background-color: rgba(0, 0, 0, 0.246);
  height: 100vh;
}

#bg-cia p {
  margin: 1em;
}

.bg-color .p-left,
.h-left {
  margin: auto 3% auto 10%;
}

.bg-color .p-right,
.h-right {
  margin: auto 6% auto 3%;
}

#menus {
  position: relative;
  /* position: fixed; */
  z-index: 99999;
  margin: 0;
  padding: 0;
  /* background: black; */
  width: 100%;
}

.font-menu {
  background-color: whitesmoke;
}

#logo {
  margin: 0.751em;
}

@media screen and (min-width:15em) {
 #logo {
   max-width: 40%;
   margin-left: 5.5em;
 }
}

@media screen and (min-width:30em){
#logo {
  margin: 10px;
  max-width: 70%;
}}


@media screen and (min-width:59.5em) {
  .font-menu {
    font-size: 1.47em;
    padding-top: 1.75em;
  }
}

@media screen and (min-width:78.4375em) {
  .font-menu {
    font-size: 2.171em;
    padding-top: 1.75em;
  }
}

@media screen and (min-width:85em) {
  .font-menu {
    font-size: 2.4em;
    padding-top: 1.75em;
    /* min-height: 20% ; */
  }
}

.font-menu a {
  color: #654EA3;
  text-transform: uppercase;
  padding-left: 2em;
}

.font-menu a:hover {
  text-decoration: underline;
}

/* #onda-menu {
  position: absolute;
  top: 150px;
  width: 100%;
  fill: white;
} */


@media screen and (min-width:20em) {
  .welcome {
    background-color: rgba(0, 0, 0, 0.603);
    position: relative;
    top: 25vh;
    padding: 1em;
    left: 1em;
    max-width: 90%;
  }
}



@media screen and (min-width:40em) {
  .welcome {
    background-color: rgba(0, 0, 0, 0.39);
    position: relative;
    top: 19vh;
    /* padding: 2em; */
    left: 10.5em;
    max-width: 40%;
  }
}

@media screen and (min-width:48em) {
  .welcome {
    background-color: rgba(0, 0, 0, 0.39);
    /* background-color: red; */
    position: relative;
    top: 19vh;
    /* padding: 2em; */
    left: 5.5em;
    max-width: 50%;
  }
}

@media screen and (min-width:86em) {
  .welcome {
    background-color: rgba(0, 0, 0, 0.39);
    /* background-color: red; */
    position: relative;
    top: 19vh;
    /* padding: 2em; */
    left: 25vw;
    max-width: 40%;
  }
}

.welcome h1,
.welcome h2 {
  color: white;
  text-transform: uppercase;
}

#cia {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(../img/bg-cia.svg);
  background-position: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

#cia .text-center {
  color: aliceblue;
  font-size: 2em;
  text-transform: uppercase;  
 padding-top: 20px;

}

#integrantes {
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url(../img/bg-integrant.svg);
  background-repeat: no-repeat;
  background-size: cover;
}


#espetaculo .text-center{
   font-size: 2em;
  text-transform: uppercase;  
 padding-top: 20px;
}

#integrantes .text-center {
  color: aliceblue;
  padding-top: 20px;
  font-size: 2em;
  text-transform: uppercase;
}

#contato .text-center {
  padding-top: 20px;
  font-size: 2em;
  text-transform: uppercase;
}



@media screen and (max-width:40em){
.text-right {
text-align: left;
}
.bg-color .p-right,
.h-right {
  margin: auto 3% auto 10% !important;

}
}

#espetaculo, #contato .text-center {
  color:#412b7a;
}


#contato {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

#contato p {
  color: black;
}

#onda {
  position: absolute;
  bottom: 0;
  width: 100%;
  fill: whitesmoke;
}

.space {
  height: 20vh;
}

#footer {
  background-color: black;
    height: 100%;
}
#footer p {
  font-family:'Schoolbell', 'Segoe UI', cursive;
}