@charset "UTF-8";


body {
    background-color: black;
    overflow-x: hidden;
}


footer p {
    color: aliceblue;
    margin-bottom: 4px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

nav li {
    margin-bottom: 20px;

}

footer h4 {

    color: aliceblue;
}
