@charset "UTF-8";


body {
    background-color: black;
    overflow-x: hidden;
    font-size: 1.4em;
}

article .card {

    background: #f3a32b;
    border: 1px solid #f7e377;
}


aside img {
    width: 50%;
}

/* img{
    max-width: 100%;
} */
.breadcrumbs a {
    font-size: medium;
    color: #f5ae45;
}

hr {
    background-color:#f5af4534;
    height: 2px;
}


footer p {
    color:rgb(240, 253, 253);
    margin-bottom: 4px;
    margin-left: 10px;
    text-transform: uppercase;
    /* text-align: left; */
}

nav li {
    margin-bottom: 20px;

}

footer h4 {

    color: rgb(253, 253, 253);
}

.small-12 h1 {
    color:rgb(240, 253, 253);
}
.small-12 p {
    color:rgb(240, 253, 253);
}

form {
color:rgb(240, 253, 253);
}
