@charset "UTF-8";


body {
    background-color: black;
    overflow-x: hidden;
    font-size: 1.4em;
}

article .card {

    background: #f3a32b;
    border: 1px solid #f7e377;
}

img{
    max-width: 100%;
}
.breadcrumbs a {
    font-size: medium;
    color: #f5ae45;
}

footer p {
    color: aliceblue;
    margin-bottom: 4px;
    margin-left: 10px;
    text-transform: uppercase;
    text-align: left;
}

nav li {
    margin-bottom: 20px;

}

footer h4 {

    color: aliceblue;
}

.small-12 h1 {
    color: aliceblue;
}
.small-12 p {
    color: aliceblue;
}

form {
color: aliceblue;
}

form textarea {
height: 150%;

}